<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>!Text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{496,889},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Titel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,468}</string>
                <key>spriteSourceSize</key>
                <string>{435,468}</string>
                <key>textureRect</key>
                <string>{{1,1},{435,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>VideoBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,92}</string>
                <key>spriteSourceSize</key>
                <string>{103,92}</string>
                <key>textureRect</key>
                <string>{{524,358},{103,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,74}</string>
                <key>spriteSourceSize</key>
                <string>{28,74}</string>
                <key>textureRect</key>
                <string>{{564,801},{28,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,44}</string>
                <key>spriteSourceSize</key>
                <string>{61,44}</string>
                <key>textureRect</key>
                <string>{{189,836},{61,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bigStar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,211}</string>
                <key>spriteSourceSize</key>
                <string>{219,211}</string>
                <key>textureRect</key>
                <string>{{1,471},{219,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigTips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,71}</string>
                <key>spriteSourceSize</key>
                <string>{69,71}</string>
                <key>textureRect</key>
                <string>{{361,785},{69,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{87,684},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endPlayBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,74}</string>
                <key>spriteSourceSize</key>
                <string>{106,74}</string>
                <key>textureRect</key>
                <string>{{629,337},{106,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,176}</string>
                <key>spriteSourceSize</key>
                <string>{138,176}</string>
                <key>textureRect</key>
                <string>{{222,471},{138,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>getBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,62}</string>
                <key>spriteSourceSize</key>
                <string>{78,62}</string>
                <key>textureRect</key>
                <string>{{362,613},{78,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giftBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,125}</string>
                <key>spriteSourceSize</key>
                <string>{120,125}</string>
                <key>textureRect</key>
                <string>{{239,649},{120,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giftSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,83}</string>
                <key>spriteSourceSize</key>
                <string>{73,83}</string>
                <key>textureRect</key>
                <string>{{632,706},{73,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>halfBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,78}</string>
                <key>spriteSourceSize</key>
                <string>{140,78}</string>
                <key>textureRect</key>
                <string>{{362,471},{140,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>inviteBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,46}</string>
                <key>spriteSourceSize</key>
                <string>{95,46}</string>
                <key>textureRect</key>
                <string>{{614,108},{95,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>inviteSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{662,108},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{537,832},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelItemBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{361,858},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelTextBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,73}</string>
                <key>spriteSourceSize</key>
                <string>{151,73}</string>
                <key>textureRect</key>
                <string>{{524,205},{151,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,5}</string>
                <key>spriteSourceSize</key>
                <string>{55,5}</string>
                <key>textureRect</key>
                <string>{{629,445},{55,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lockSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,47}</string>
                <key>spriteSourceSize</key>
                <string>{34,47}</string>
                <key>textureRect</key>
                <string>{{662,163},{34,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>musicOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,125}</string>
                <key>spriteSourceSize</key>
                <string>{120,125}</string>
                <key>textureRect</key>
                <string>{{442,456},{120,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>musicOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,125}</string>
                <key>spriteSourceSize</key>
                <string>{120,125}</string>
                <key>textureRect</key>
                <string>{{239,776},{120,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,105}</string>
                <key>spriteSourceSize</key>
                <string>{101,105}</string>
                <key>textureRect</key>
                <string>{{614,1},{101,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,61}</string>
                <key>spriteSourceSize</key>
                <string>{42,61}</string>
                <key>textureRect</key>
                <string>{{433,889},{42,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,74}</string>
                <key>spriteSourceSize</key>
                <string>{106,74}</string>
                <key>textureRect</key>
                <string>{{361,677},{106,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popViewBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,202}</string>
                <key>spriteSourceSize</key>
                <string>{174,202}</string>
                <key>textureRect</key>
                <string>{{438,1},{174,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>popViewClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{541,884},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,84}</string>
                <key>spriteSourceSize</key>
                <string>{249,84}</string>
                <key>textureRect</key>
                <string>{{1,684},{249,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rankBtnSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,84}</string>
                <key>spriteSourceSize</key>
                <string>{249,84}</string>
                <key>textureRect</key>
                <string>{{438,205},{249,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rankCloseBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{634,835},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankShareBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{433,832},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,125}</string>
                <key>spriteSourceSize</key>
                <string>{120,125}</string>
                <key>textureRect</key>
                <string>{{564,452},{120,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankViewBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{87,836},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{485,832},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redTips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{589,831},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shareBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,125}</string>
                <key>spriteSourceSize</key>
                <string>{120,125}</string>
                <key>textureRect</key>
                <string>{{442,583},{120,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shareBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,130}</string>
                <key>spriteSourceSize</key>
                <string>{116,130}</string>
                <key>textureRect</key>
                <string>{{599,205},{116,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shareSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,52}</string>
                <key>textureRect</key>
                <string>{{640,781},{64,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smallStar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,41}</string>
                <key>textureRect</key>
                <string>{{593,887},{44,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smallTips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{189,903},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,41}</string>
                <key>textureRect</key>
                <string>{{639,887},{44,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipsHand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,93}</string>
                <key>spriteSourceSize</key>
                <string>{66,93}</string>
                <key>textureRect</key>
                <string>{{564,706},{66,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tipsSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,125}</string>
                <key>spriteSourceSize</key>
                <string>{120,125}</string>
                <key>textureRect</key>
                <string>{{564,579},{120,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vidioSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,125}</string>
                <key>spriteSourceSize</key>
                <string>{120,125}</string>
                <key>textureRect</key>
                <string>{{437,710},{120,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_view.png</string>
            <key>size</key>
            <string>{716,937}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a8972ffa0ef5dfbff20d493e87c67ad:a2bed08f4da0ffe4001cbbb7480c5e8f:b1c26fa13c8de854d73db210ad0cec7a$</string>
            <key>textureFileName</key>
            <string>ui_view.png</string>
        </dict>
    </dict>
</plist>
