<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{445,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1,131},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{53,131},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playBtn_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,70}</string>
                <key>spriteSourceSize</key>
                <string>{255,70}</string>
                <key>textureRect</key>
                <string>{{1,59},{255,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,109}</string>
                <key>spriteSourceSize</key>
                <string>{206,109}</string>
                <key>textureRect</key>
                <string>{{258,63},{206,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,56}</string>
                <key>spriteSourceSize</key>
                <string>{442,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{442,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sdk_ui.png</string>
            <key>size</key>
            <string>{506,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:428c49894a8e1b9d825e295768f3087e:cfb9d1d55f0237724540b0f6a1f8ea19:01129e107ef33c157c6b32bd28e50d54$</string>
            <key>textureFileName</key>
            <string>sdk_ui.png</string>
        </dict>
    </dict>
</plist>
